@import "css/reset.css";
@import "css/header.css";
@import "css/visual.css";
@import "css/service.css";
@import "css/sns.css";
@import "css/footer.css";
@import "css/sidemenu.css";
@import "css/sidemenuSub.css";

html,
body {
  height: 100vh;
  width: 100%;
  font-size: 16px;
  font-family: "NanumGothic";
}
.body__wrap {
  padding-right: 6.25rem;
}
