.side__menu__sub {
  display: none;
  height: 100%;
  width: 6.25rem;
  position: absolute;
  right: -6.25rem;
  top: -2.5rem;
  padding-top: 2.5rem;
  overflow: scroll;
}
.side__menu__sub::-webkit-scrollbar {
  display: none;
}
.liquor.__beer .sub__A {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20200714_41383642.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__beer .sub__B {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20201231_81719742.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__beer .sub__C {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20200923_18788427.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__beer .sub__D {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20160823_25789064.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__beer .sub__E {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20170804_30604060.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__beer li:hover {
  background-position: -6.2rem 0;
}

/* --------SOJU-------- */
.liquor.__soju .sub__A {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20210317_13627566.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__soju .sub__B {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20210720_58937353.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__soju .sub__C {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20190424_51270177.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__soju .sub__D {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20210305_36600425.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__soju .sub__E {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20210720_30149104.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__soju .sub__F {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20160823_74396106.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__soju .sub__G {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20180424_20557673.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__soju li:hover {
  background-position: -6.2rem 0;
}

/* --------WHISKY-------- */
.liquor.__whisky .sub__A {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20190819_94798898.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__whisky .sub__B {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20200331_45543527.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__whisky .sub__C {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20181023_93125179.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__whisky li:hover {
  background-position: -6.2rem 0;
}

/* --------WINE-------- */
.liquor.__wine .sub__A {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20160823_46918079.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__wine .sub__B {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20160823_27918513.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__wine .sub__C {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20160823_75428279.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__wine .sub__D {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20160823_64448732.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__wine .sub__E {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20160823_86117569.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__wine .sub__F {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20190304_59935617.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__wine .sub__G {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20160826_33140410.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__wine .sub__H {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20190227_37726958.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__wine .sub__I {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20160826_69490236.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__wine .sub__J {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20190304_71393177.png)
    no-repeat;
  height: 6rem;
  width: 100%;
  padding-bottom: 3rem;
}
.liquor.__wine li:hover {
  background-position: -6.2rem 0;
}

/* --------SAKE-------- */
.liquor.__sake .sub__A {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20210623_24607112.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__sake .sub__B {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20190715_44174210.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__sake .sub__C {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20190715_49436796.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__sake .sub__D {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20190715_11112144.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__sake li:hover {
  background-position: -6.2rem 0;
}

/* --------ANOTHER-------- */
.liquor.__another .sub__A {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20191119_77069446.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__another .sub__B {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20160823_56171009.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__another .sub__C {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20200521_22911691.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__another .sub__D {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20220302_60106515.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__another .sub__E {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20210813_43892865.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__another .sub__F {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20180706_37437285.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__another .sub__G {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20180706_85028431.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__another .sub__H {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20201008_26046185.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__another .sub__I {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20161216_59376033.png)
    no-repeat;
  height: 6rem;
  width: 100%;
  padding-bottom: 3rem;
}
.liquor.__another li:hover {
  background-position: -6.2rem 0;
}

/* --------INTERNATIONAL-------- */
.liquor.__international .sub__A {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20190426_26235299.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__international .sub__B {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20200103_13761843.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__international .sub__C {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20200403_14745770.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__international .sub__D {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20200416_87803496.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__international .sub__E {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20160823_72413142.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__international .sub__F {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20200416_46032391.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__international .sub__G {
  background: url(https://file.hitejinro.com/hitejinro2016/upFiles/brand/KR/category/20180725_38386721.png)
    no-repeat;
  height: 6rem;
  width: 100%;
}
.liquor.__international li:hover {
  background-position: -6.2rem 0;
}
