.sec__one {
  padding-top: 6rem;
  width: 100%;
  min-height: 100vh;
  height: 120vh;
  background-image: url(https://www.apple.com/v/iphone-13-pro/f/images/overview/hero/hero_endframe__3tq53uan9teq_xlarge.jpg);
  background-position: center bottom;
}
.sec__one__text {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sec__one__text p:first-child {
  letter-spacing: -1px;
  font-weight: 500;
  font-size: 1.8rem;
}
.sec__one__text p:last-child {
  padding-top: 2rem;
  letter-spacing: -6px;
  font-weight: bolder;
  font-size: 4.5rem;
}
.sec__two {
  width: 100%;
  min-height: 100vh;
  height: 170vh;
  background-image: url(https://www.apple.com/v/iphone-13-pro/f/images/overview/manifesto/wallpaper_startframe__crc5hsgtpzo2_large.jpg);
  background-position: center;
  background-size: cover;
}
.sec__two__wrap {
  word-break: keep-all;
  padding: 5rem 0;
  width: 58rem;
  height: 80%;
  margin: auto;
}

.sec__two__wrap span {
  opacity: 0.4;
  margin-right: 1rem;
  line-height: 5.7rem;
  font-weight: 900;
  letter-spacing: -5px;
  font-size: 4.3rem;
  color: white;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}
.sec__two__wrap span.textToggle {
  opacity: 1;
}
.sec__two__textContainer {
  width: 100%;
  height: 100%;
  opacity: 0.4;
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: -1px;
  line-height: 2rem;
  color: white;
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
}
.sec__two__textContainer.textToggle {
  opacity: 1;
}
.sec__two__textContainer p:nth-child(3) {
  margin: 1.2rem 0;
}

.sec__two__textContainer p:first-child {
  letter-spacing: -5px;
  margin: 5rem 0;
  font-weight: 900;
  font-size: 4.3rem;
}
.sec__two__btn a {
  margin-right: 2rem;
}
.sec__two__btn a:hover {
  text-decoration: underline;
}
.sec__three {
  height: 100vh;
  padding: 5rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec__three__container {
  position: relative;
  height: 100%;
  width: 70rem;
  display: flex;
}
.sec__three__proMax,
.sec__three__pro {
  position: absolute;
  display: flex;
  align-items: flex-end;
  width: 35rem;
  height: 100%;
}
.sec__three__proMax {
  left: 11%;
}
.sec__three__pro {
  right: 11%;
}
.sec__three__proMax div,
.sec__three__pro div {
  font-size: 1.3rem;
  font-weight: 500;
  word-spacing: -3px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  justify-content: center;
  margin: 0 2rem;
}
.sec__three__proMax div {
  align-items: flex-end;
}
.sec__three__proMax div p:last-child,
.sec__three__pro div p:last-child {
  font-size: 2.7rem;
  line-height: 3.2rem;
}
.sec__three__pro img {
  width: auto;
  height: 36rem;
  object-fit: contain;
}
.sec__three__proMax img {
  width: auto;
  height: 40rem;
  object-fit: contain;
}
.sec__three__text {
  font-weight: 700;
  font-size: 1.1rem;
  margin-top: 4rem;
}
.sec__three__container small {
  position: absolute;
  font-size: 1.3rem;
}
.sec__three__text small {
  font-size: 0.5rem;
  position: absolute;
}

.sec__four {
  overflow: hidden;
  top: 0;
  height: 470vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 130vh 130vh 130vh 80vh);
}
.sec__four__row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
  height: 130vh;
  width: 100%;
}
.sec__four__row:last-child {
  background-color: white;
}
.sec__four__column {
  overflow: hidden;
  background-color: white;
  height: 100%;
  width: 100%;
}
.sec__four__column.bgBlack {
  color: white;
  background-color: black;
}
.iPhone__color {
  width: 100%;
  height: 68%;
  display: grid;
  grid-template-columns: repeat(5, 100%);
  transition: transform 0.75s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.iPhone__color div {
  position: relative;
  top: -12%;
  display: flex;
  height: 120%;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
.iPhone__color div img {
  width: 15vw;
  height: auto;
  max-width: 15rem;
  padding-bottom: 1rem;
}
.iPhone__color__picker {
  position: relative;
  bottom: 4rem;
  margin: auto;
  width: 12rem;
  height: 8rem;
}
.iPhone__color__picker ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 4rem;
}
.iPhone__color__picker ul label {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
}
.label {
  border: 1px solid #0071e3;
}
.iPhone__color__picker ul li {
  cursor: pointer;
  border-radius: 50%;
  width: 1.3rem;
  height: 1.3rem;
}
.iPhone__color__picker .green {
  background-color: #576856;
}
.iPhone__color__picker .silver {
  background-color: #f1f2ed;
}
.iPhone__color__picker .gold {
  background-color: #fae7cf;
}
.iPhone__color__picker .graphite {
  background-color: #54524f;
}
.iPhone__color__picker .blue {
  background-color: #a7c1d9;
}
.iPhone__color__picker p {
  text-align: center;
  color: rgb(167, 167, 167);
  font-weight: 500;
}
.iPhone__color__picker p span {
  word-break: keep-all;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 900;
  transition: color 0.3s linear;
}
.colorName {
  color: black;
}
.sec__four__column.color.bgBlack div {
  display: flex;
  align-items: flex-end;
  position: relative;
  top: -10%;
  width: 100%;
  height: 150%;
}
.sec__four__column.color.bgBlack div img {
  position: absolute;
  padding-left: 7rem;
  width: 68vw;
  height: 62vw;
  min-width: 35rem;
  min-height: 30rem;
  opacity: 0;
  transition: opacity 0.75s linear;
}
.sec__four__column.color.bgBlack div img.colorPhone {
  opacity: 1;
}
.steelPhone {
  display: flex;
  justify-content: center;
  position: relative;
  top: 32%;
}
.steelPhone img {
  height: 120vh;
}
.steelSide {
  position: relative;
  top: 20%;
  display: flex;
  height: 60%;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
.steelSide img {
  height: 75vh;
  max-height: 50rem;
}

.sec__four__column.steel p {
  position: relative;
  text-align: center;
  font-size: 1rem;
  letter-spacing: -1px;
  line-height: 1.5rem;
  font-weight: 900;
  bottom: -5rem;
  margin: auto;
  width: 12rem;
  height: 8rem;
}
.shieldfront {
  position: relative;
  top: 15%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 1rem;
}
.sec__four__column.shield p {
  position: relative;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: -0.5px;
  line-height: 1.5rem;
  font-weight: 600;
  bottom: -2rem;
  margin: auto;
  width: 100%;
  height: 8rem;
}
.shieldfront img {
  width: 16vw;
  height: auto;
  max-width: 16rem;
}
.shieldside {
  top: 45%;
  position: relative;
  height: 130%;
}
.shieldside__item {
  display: flex;
  justify-content: center;
  position: relative;
  margin: auto;
  width: 50vw;
  height: 120vh;
}
.shieldside__item video {
  position: absolute;
  width: 100%;
  height: 100%;
}
.shieldside__item img {
  position: absolute;
  width: 73%;
  height: 100%;
}
.sec__four__row.water {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec__four__row.water p {
  margin-top: 6rem;
  text-align: center;
  line-height: 1.7rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.sec__four__row.water p small {
  position: absolute;
  font-weight: 700;
  font-size: 0.7rem;
}
.sec__four__row.water div {
  position: relative;
  top: 25%;
  height: 100%;
}
