.sec__five {
  height: auto;
  width: 100%;
}
.sec__five__section {
  height: auto;
  width: 100%;
}
.sec__five__section.Text {
  position: relative;
  height: 90rem;
  width: 100%;
  padding-top: 10rem;
}
.sec__five__section.Text p {
  margin: auto;
  width: 60rem;
  word-break: keep-all;
  letter-spacing: -2px;
  font-size: 4rem;
  line-height: 5.2rem;
  font-weight: bolder;
  color: gray;
  height: 60rem;
}
.sec__five__section.Text p strong {
  color: black;
}
.sec__five__section.Text div {
  position: absolute;
  height: auto;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 7rem;
}
.sec__five__section.Text div img {
  height: auto;
  width: 100vw;
  max-width: 110rem;
}
.sec__five__section.camera {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 165rem;
}
.sec__five__section.camera .contents,
.sec__five__section.camera .contents video {
  display: flex;
  justify-content: center;
  height: auto;
  max-height: 64rem;
  width: 85rem;
}
.photoText {
  display: flex;
  height: 100%;
  width: 90%;
  padding: 5rem 0;
  justify-content: space-evenly;
}
.photoText div:first-child {
  line-height: 1;
  font-weight: 600;
  letter-spacing: -7px;
  font-size: 6.5rem;
}
.videoText p:first-child,
.photoText div:last-child {
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: -2px;
  font-size: 2.5rem;
}
.photoText div:last-child p:first-child {
  padding-bottom: 1.5rem;
}
.photoText div:last-child p:last-child,
.videoText p:last-child {
  line-height: 1.5;
  font-size: 1.1rem;
  letter-spacing: -1px;
  color: gray;
}
.videoText {
  display: flex;
  width: 90%;
  padding: 5rem 0;
  align-items: flex-start;
  justify-content: space-evenly;
  font-weight: 600;
}
.photoText div:last-child {
  height: 100%;
}
.sec__five__section.night {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10rem;
  background-color: black;
}

.sec__five6,
.sec__five5,
.sec__five4,
.sec__five1,
.sec__five2,
.sec__five3 {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 90rem;
  margin: auto;
}
.sec__five2 {
  margin-top: -8rem;
  align-items: center;
  z-index: 4;
}
.sec__five3 {
  margin-top: -7rem;
  align-items: center;
}
.sec__five4 {
  justify-content: flex-end;
  position: relative;
  top: -10rem;
  z-index: 5;
}
.sec__five5 {
  position: relative;
  top: -20rem;
  align-items: center;
}
.sec__five6 {
  top: -10rem;
  left: 5rem;
  width: 70rem;
  position: relative;
  justify-content: flex-start;
}

.sec__five1 img {
  z-index: 6;
  position: relative;
  left: -5%;
  max-width: 43rem;
  max-height: 56.5rem;
  transform: matrix(1, 0, 0, 1, 0, 100);
}
.sec__five1__text {
  position: relative;
  left: -5%;
  padding-top: 10rem;
  width: 40rem;
  margin-left: 3rem;
  line-height: 1.2;
  font-size: 6rem;
  font-weight: 600;
  color: white;
}
.sec__five6__text p:last-child,
.sec__five3__text,
.sec__five2__text,
.sec__five1__text p:last-child {
  padding-top: 1.5rem;
  line-height: 1.4;
  letter-spacing: -1px;
  font-size: 1.1rem;
  font-weight: 600;
  color: gray;
}
.sec__five2__text {
  margin-right: 7rem;
}
.sec__five6__text,
.sec__five5__text,
.sec__five3__text strong,
.sec__five2__text strong {
  line-height: 1.3;
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: -5px;
  color: white;
}
.sec__five3__text {
  position: relative;
  left: -5%;
  width: 40rem;
  margin-left: 3rem;
}
.sec__five5__text {
  position: relative;
  top: 30%;
  margin-top: 10rem;
}
.sec__five6__text {
  position: relative;
  top: 30%;
}

.sec__five5 img,
.sec__five3 img {
  z-index: 3;
  position: relative;
  left: -5%;
  max-width: 43rem;
  max-height: 56.5rem;
}
.sec__five3 img {
  transform: matrix(1, 0, 0, 1, 0, 100);
}
b {
  letter-spacing: 0;
}

@media screen and (max-width: 1024px) {
  .sec__five__section.Text {
    height: 80rem;
    max-height: none;
  }
  .sec__five__section.Text div {
    top: 65rem;
  }
  .sec__five__section.Text p {
    width: 50rem;
    height: 70rem;
    line-height: 4.5rem;
    font-size: 3.5rem;
  }
  .sec__five__section.camera .contents img,
  .sec__five__section.camera .contents video {
    height: auto;
    max-height: 64rem;
    width: 68rem;
  }
  .photoText div:first-child {
    font-size: 5rem;
  }
  .videoText p:first-child,
  .photoText div:last-child {
    font-size: 2rem;
  }
  .photoText div:last-child p:first-child {
    padding-bottom: 1.5rem;
  }
  .photoText div:last-child p:last-child,
  .videoText p:last-child {
    font-size: 1rem;
  }

  .sec__five6,
  .sec__five5,
  .sec__five4,
  .sec__five1,
  .sec__five2,
  .sec__five3 {
    max-width: 70rem;
  }
  .sec__five1 img,
  .sec__five2 img,
  .sec__five3 img,
  .sec__five5 img {
    max-width: 45rem;
    max-height: 40em;
  }
  .sec__five5 img,
  .sec__five3 img {
    left: -2%;
  }

  .sec__five4 img {
    width: 40rem;
  }
  .sec__five5 img {
    z-index: 5;
  }
  .sec__five1__text {
    letter-spacing: -5px;
    font-size: 5rem;
  }
  .sec__five6__text p:last-child,
  .sec__five3__text,
  .sec__five2__text,
  .sec__five1__text p:last-child {
    font-size: 0.9rem;
  }
  .sec__five6__text,
  .sec__five5__text,
  .sec__five3__text strong,
  .sec__five2__text strong {
    font-size: 3rem;
  }
}
