@import "components/css/header.css";
@import "components/css/reset.css";
@import "components/css/top.css";
@import "components/css/main.css";
@import "components/css/info.css";
@import "components/css/mainsub.css";

html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(black, white) no-repeat;
  width: 100%;
  height: 300vh;
  font-family: "Noto Sans KR", sans-serif;
  overflow-x: hidden;
}

footer {
  background: linear-gradient(to top, transparent, white),
    url("https://www.museum.go.kr/ux/content/images/display/img_display.jpg")
      center center;
  background-size: cover;
  height: 20rem;
  width: 100%;
  position: relative;
}
.select__visitWrap {
  position: absolute;
  width: 18%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: end;
}
.select__visitWrap span {
  color: black;
  line-height: 3.5rem;
  cursor: pointer;
  font-size: 2rem;
  background: linear-gradient(0deg, gray, rgb(129, 118, 199)) no-repeat right
    bottom / 0 var(--bg-h);
  transition: background-size 350ms;
  --bg-h: 100%;
}
.select__visitWrap span:where(:hover, :focus-visible) {
  background-size: 100% var(--bg-h);
  background-position-x: left;
  color: white;
}
.visit_infoWrap {
  width: 70%;
  height: 100%;
  right: 0;
  position: absolute;
}
.visit__info {
  margin-top: 5rem;
  display: none;
}

.visit__info p {
  line-height: 2rem;
}
.visit__info strong {
  font-size: 1.2rem;
}
