@import "components/css/header.css";
@import "components/css/reset.css";
@import "components/css/top.css";
@import "components/css/main.css";
@import "components/css/info.css";
@import "components/css/mainsub.css";

html {
  scroll-behavior: smooth;
}
body {
  background: linear-gradient(black, white);
  width: 100%;
  height: 400vh;
  font-family: "Noto Sans KR", sans-serif;
}
