.favorite {
  background: url("https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg")
    center fixed no-repeat #45434c;
  background-size: auto 100%;
  height: 50rem;
  padding: 0;
}
.favorite__wrap {
  position: relative;
  width: 70rem;
  margin: 0 auto;
  height: 100%;
}
.favorite__wrap img {
  position: absolute;
  right: -3rem;
  top: 8rem;
  height: 29rem;
  width: 42rem;
}
.favorite__textwrap {
  position: relative;
  height: 100%;
  width: 25rem;
}
.first.favorite__text {
  width: 16rem;
  height: 13rem;
  right: 0;
  top: 9rem;
  position: absolute;
  transform: translateX(-200%);
  opacity: 0;
  transition: all 2s;
}
.second.favorite__text {
  width: 23rem;
  height: 10rem;
  right: 1rem;
  top: 25rem;
  position: absolute;
  transform: translateX(-200%);
  opacity: 0;
  transition: all 2.5s;
}
.first.favorite__text.mobile,
.second.favorite__text.mobile {
  display: none;
}
.scrollIn.second.favorite__text,
.scrollIn.first.favorite__text {
  transform: translateX(10%);
  opacity: 1;
}

.favorite__btn {
  position: absolute;
  font-size: 0.9rem;
  line-height: 2.2rem;
  border: 2px solid #ffffff;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  width: 7.5rem;
  display: block;
  right: -1rem;
  bottom: 10rem;
  transition: background-color 1s, color 1s;
}
.favorite__btn:hover {
  background-color: #ffffff;
  color: black;
  transition: background-color 1s, color 1s;
}

@media (min-width: 0px) and (max-width: 960px) {
  .favorite {
    min-height: 38rem;
    max-height: 70rem;
    height: 130vw;
    padding: 0;
  }
  .favorite__wrap {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .first.favorite__text.mobile,
  .second.favorite__text.mobile {
    display: block;
  }
  .first.favorite__text.pc,
  .second.favorite__text.pc {
    display: none;
  }
  .favorite__wrap > img {
    min-width: 20rem;
    padding-top: 5rem;
    position: sticky;
    height: auto;
    width: 80%;
  }
  .favorite__textwrap {
    padding-top: 20%;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 70%;
  }
  .first.favorite__text {
    min-width: 15rem;
    width: 70%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateY(-200%) translateX(-50%);
  }
  .second.favorite__text {
    min-width: 18rem;
    padding-top: 2rem;
    position: absolute;
    top: 30%;
    left: 50%;
    height: auto;
    width: 60%;
    transform: translateY(200%) translateX(-50%);
  }
  .favorite__btn {
    font-size: 0.8rem;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
  .scrollIn.second.favorite__text,
  .scrollIn.first.favorite__text {
    transform: translateY(0%) translateX(-50%);
    opacity: 1;
  }
}
