.visual {
  background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_main_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin-top: 7.5rem;
}
.visual__wrap {
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  width: 69rem;
  height: 100%;
}
.visual__text {
  top: 6%;
  left: 2%;
  width: 25%;
  height: 40%;
  position: relative;
}
.img__title {
  width: 100%;
  height: auto;
  animation: fade-in 1.2s;
  -webkit-animation: fade-in 1.2s;
}
.visual__text div {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  height: fit-content;
}
.visual__wrap a {
  font-size: 0.9rem;
  line-height: 2.2rem;
  text-align: center;
  height: 100%;
  width: 8rem;
  color: #e95a87;
  border: 2px solid #e95a87;
  border-radius: 5px;
  box-sizing: border-box;
  animation: fade-in 1.2s both;
  animation-delay: 2s;
  -webkit-animation: fade-in 1.2s both;
  -webkit-animation-delay: 2s;
}
.visual__wrap a:hover {
  background-color: #e95a87;
  color: white;
  transition: background-color 1s, color 1s;
}

.img_drink1-m,
.img_drink2-m,
.img_drink3-m {
  display: none;
}
.drink1-box {
  width: 45%;
  top: 35%;
  left: 15%;
  position: absolute;
  animation: fade-in 1.2s both;
  animation-delay: 0.5s;
  -webkit-animation: fade-in 1.2s both;
  -webkit-animation-delay: 0.5s;
}
.drink2-box {
  width: 50%;
  top: 12%;
  left: 35%;
  position: absolute;
  animation: fade-in 1.2s both;
  animation-delay: 1s;
  -webkit-animation: fade-in 1.2s both;
  -webkit-animation-delay: 1s;
}
.drink3-box {
  width: 29%;
  top: 14%;
  left: 83%;
  position: absolute;
  animation: fade-in 1.2s both;
  animation-delay: 1.5s;
  -webkit-animation: fade-in 1.2s both;
  -webkit-animation-delay: 1.5s;
}
.drink1-box img,
.drink2-box img,
.drink3-box img {
  width: 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 0px) and (max-width: 640px) {
  .visual {
    height: 250vw;
    width: auto;
    margin-top: 4.5rem;
  }
  .visual__wrap {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
  .visual__text {
    top: 4%;
    left: 7%;
    width: 45%;
    height: 100%;
  }
  .visual__text div {
    position: absolute;
    bottom: 8%;
    left: 50%;
  }
  .visual__wrap a {
    font-size: 0.8rem;
    line-height: 2rem;
    width: 7rem;
  }
  .drink1-box {
    width: 80%;
    top: 18%;
    left: 10%;
  }
  .drink2-box {
    width: 90%;
    top: 38%;
    left: 8%;
  }
  .drink3-box {
    width: 80%;
    top: 60%;
    left: 10%;
  }
  .img_drink1-m,
  .img_drink2-m,
  .img_drink3-m {
    display: block;
  }
  .img__drink1-pc,
  .img__drink2-pc,
  .img__drink3-pc {
    display: none;
  }
}

@media (min-width: 640px) and (max-width: 960px) {
  .visual {
    height: 60vw;
    width: 100%;
    margin-top: 4.5rem;
  }
}

@media (min-width: 640px) and (max-width: 1199px) {
  .visual__wrap {
    margin: 0 auto;
    width: 100%;
  }
  .visual__text {
    top: 10%;
    left: 3%;
    width: 20%;
  }
  .drink1-box {
    width: 40%;
    top: 40%;
    left: 10%;
  }
  .drink2-box {
    width: 45%;
    top: 20%;
    left: 28%;
  }
  .drink3-box {
    width: 25%;
    top: 25%;
    left: 70%;
  }
}
