.sbstore {
  background: url(https://www.starbucks.co.kr/common/img/main/store_bg.jpg)
    no-repeat;
  background-size: cover;
  height: 25rem;
  width: 100%;
  overflow: hidden;
}

.sbstore__wrap {
  position: relative;
  margin: 0 auto;
  width: 62rem;
  height: 100%;
}

.sbstore__wrap img:first-child {
  position: absolute;
}

.sbstore__wrap img:nth-child(2) {
  position: absolute;
  bottom: 1rem;
  left: 14rem;
}

.sbstore__storepic {
  position: absolute;
  right: -8rem;
  bottom: 0;
}

.sbstore__coffeebeans {
  position: absolute;
  right: 30%;
  top: -4rem;
}

.sbstore__slide.first {
  position: absolute;
  right: 0;
  top: 30%;
  transition: all 2s;
  opacity: 0;
  transform: translateX(200%);
}

.sbstore__slide.second {
  position: absolute;
  bottom: 38%;
  right: 1rem;
  transition: all 2.5s;
  opacity: 0;
  transform: translateX(200%);
}

.scrollIn.sbstore__slide.first,
.scrollIn.sbstore__slide.second {
  opacity: 1;
  transform: translateX(0%);
}
.sbstore__btn {
  position: absolute;
  font-size: 0.9rem;
  line-height: 2.2rem;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  color: black;
  width: 7.5rem;
  display: block;
  bottom: 20%;
  right: -50rem;
  opacity: 0;
  background-color: none;
}
.scrollIn.sbstore__btn {
  opacity: 1;
  right: 16rem;
  transition: opacity 3s, right 3s;
}
.sbstore__btn:hover {
  background-color: black;
  color: #ffffff;
  transition: background-color 1s, color 1s;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
  .sbstore__wrap img:first-child {
    max-width: 19rem;
    min-width: 15rem;
    width: 50%;
    left: 1%;
  }
  .sbstore__wrap img:nth-child(2) {
    max-width: 12.5rem;
    min-width: 11rem;
    width: 35%;
    top: 15%;
    left: 50%;
  }
}
@media screen and (min-width: 500px) and (max-width: 750px) {
  .sbstore__wrap img:first-child {
    max-width: 19rem;
    min-width: 15rem;
    width: 50%;
    left: 20%;
  }
  .sbstore__wrap img:nth-child(2) {
    max-width: 12.5rem;
    min-width: 11rem;
    width: 35%;
    top: 15%;
    left: 50%;
  }
}
@media screen and (min-width: 750px) and (max-width: 960px) {
  .sbstore__wrap img:first-child {
    max-width: 19rem;
    min-width: 15rem;
    width: 50%;
    left: 25%;
  }
  .sbstore__wrap img:nth-child(2) {
    max-width: 12.5rem;
    min-width: 11rem;
    width: 35%;
    top: 15%;
    left: 50%;
  }
}
@media screen and (min-width: 0px) and (max-width: 960px) {
  .sbstore {
    min-height: 47rem;
    min-width: 19rem;
    height: 80vw;
    width: auto;
  }
  .sbstore__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 90%;
  }
  .sbstore__slide.first {
    margin: 23rem auto 0 auto;
    min-width: 17.5rem;
    max-width: 24rem;
    position: sticky;
    left: 0;
    width: 70%;
    transform: translateY(-200%);
  }
  .sbstore__slide.second {
    margin: 30rem auto 0 auto;
    min-width: 18.8rem;
    max-width: 27.5rem;
    position: sticky;
    left: 0;
    right: 0;
    width: 70%;
    transform: translateY(200%);
  }
  .sbstore__btn {
    font-size: 0.8rem;
    line-height: 2rem;
    width: 7rem;
    opacity: 1;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%);
  }
  .scrollIn.sbstore__btn {
    opacity: none;
    right: 50%;
    transition: none;
  }
  .scrollIn.sbstore__slide.first,
  .scrollIn.sbstore__slide.second {
    opacity: 1;
    transform: translateY(0%);
  }
  .sbstore__storepic {
    width: 10rem;
    right: 0;
  }
}
